body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

#gameTitle {
    color: #333;
    text-align: center;
}

h3 {
    color: #333;
}

#result {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#finalWinner {
    font-size: 24px;
    font-weight: bold;
}

#congratulationMessage {
    font-size: 18px;
    color: #666;
}
